apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cloudnative-pg
  app.kubernetes.io/component: manager
resources:
  - ../configurations/prometheus-operator
  - clusterrole.yaml
  - clusterrole-edit.yaml
  - deployment.yaml
  - lease.yaml
  - monitor.yaml
  - pdb.yaml
  - rbac.yaml
  - role.yaml
  - service.yaml
  - mutatingwebhookconfiguration.yaml
  - validatingwebhookconfiguration.yaml
configMapGenerator:
  - name: manager-config
    options:
      disableNameSuffixHash: true
  - name: default-monitoring
    options:
      disableNameSuffixHash: true
      labels:
        cnpg.io/reload: ""
    files:
      - queries=files/queries.yaml
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: manager
      spec:
        template:
          spec:
            containers:
              - name: manager
                env:
                  - name: PGBOUNCER_IMAGE_NAME
                    # renovate: datasource=docker
                    value: ghcr.io/cloudnative-pg/pgbouncer:1.25.1@sha256:c829ee1985153e5510b699950630f7bf2877246744f7a2e8b9b6ba0a52b185c0
                  - name: POSTGRES_IMAGE_NAME
                    # renovate: datasource=docker
                    value: ghcr.io/cloudnative-pg/postgresql:18.1@sha256:d3199816380b42a3b1db2a21fb0920acc90c3ca0d5e8fccf65858e79d4abc5a8
images:
  - name: ghcr.io/cloudnative-pg/cloudnative-pg
    newTag: 1.28.0@sha256:34198e85b6e6dd81471cb1c3ee222ca5231b685220e7ae38a634d35ed4826a40
replacements:
  - source:
      kind: Deployment
      name: manager
      fieldPath: spec.template.spec.containers.[name=manager].image
    targets:
      - select:
          kind: Deployment
          name: manager
        fieldPaths:
          - spec.template.spec.containers.[name=manager].env.[name=OPERATOR_IMAGE_NAME].value
